@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    background-color: white;
    padding: 0px;
    margin: 0px;
}

                                            /* Sidhuvud */
#banner {
    font-family: 'Lucida Handwriting', sans-serif;
    color: white;
    text-shadow: 3px 3px black;
    font-size: 50px;
}

header {
    display: block;
    position: static;
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(144, 207, 228);
}

ul {
    list-style-type: none;
    padding: 5px;
    overflow: hidden;
    text-align: center;
    margin-left: 40%;
}

li {
    float: left;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

li a {
    display: block;
    color: white;
    background-color: #1e85c1;
    text-align: center;
    padding:16px;
    box-shadow: 2px 2px black   ;
    text-decoration: none;
    transition: 0.1s;
}
li a:hover{
    background-color: #5faaf4;
    box-shadow: 0px 0px black;
    transition: 0.1s;
}

                                            /* Lokalen */
#lanparty > figcaption {
    display: inline;
    position: absolute;
    margin-top: -20px;
    text-align: center;
    transform:translate(50%);
    background-color: rgba(255, 255, 255, 0.60);
}

#lanparty > img {
    display: block;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#lanparty {
    position: relative;
}

#aboutClubhouse {
    display: block;
    font-family: 'Roboto', sans-serif;
    width: 40%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: auto;
}

#aboutClubhouse > h2 {
    background-color: #62b4f4;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -0px;
    text-align: center;
}

#whatWeDo {
    display: block;
}

h2 {
    background-color: rgb(144, 207, 228);
    padding: 5px;
    display: block;
}

#whatWeDo > div {
    display: flex;
    justify-content: center;
}

#tema {
    background-color: #62b4f4;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 10px;
    background-image: linear-gradient(to bottom right, yellow, blue);
    text-align: center;
    transition: 0.1s;
}

#tema:hover {
    box-shadow: 2px 2px 2px black;
    transition: 0.1s;
}

#fadder {
    display: flex;
    transition: 0.07s;
    background-color: #62b4f4;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50% 50% 50% 10px;
    margin: 10px;
    background: url(sheep_150x150.jpg);
    background-size: contain;
}
#fadder:hover {
    border-radius: 50% 10px 50% 50%;
    transition: 0.07s;
}


#prog {
    display: flex;
    transition: 0.07s;
    background-color: #62b4f4;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50% 50% 10px 50%;
    margin: 10px;
    background: url(sheep_150x150.jpg);
    background-size: contain;
}
#prog:hover {
    border-radius: 10px 50% 50% 50%;
    transition: 0.07s;
}

#his {
    background-color: #62b4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 50%;
    margin: 10px;
    text-align: center;
}

section > small {
    margin-left: 10px;
}

                                            /* Evenemang */
h1 {
    font-family: 'Abril Fatface', cursive;
    display: block;
    color: white;
    background-color: rgb(144, 207, 228);
    text-shadow: 3px 3px black;
}

.adress {
    background-color: rgb(144, 207, 228);
    padding: 10px;
    font-size: 15px;
}

.artikel {
    display: block;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(144, 207, 228);
    width: 300px;
    padding: 15px;
    margin: 30px;
    margin-left: 40px;
    border: 3px solid rgb(76, 109, 121);
    border-style: solid;
    text-align: left;
}

.artikelTitel {
    font-size: 25px;
}

footer {
    display: block;
    position: relative;
    background-color: rgb(144, 207, 228);
}