body {
    background-color: black;
}

/*#region Header */
 
    #banner {
        font-size: 60px;
        text-align: center;
        font-size: 100px;
        display: flexbox;
        color: #494949;
        text-shadow: 0 0 3px #d8d52b, 0 0 5px #d8d52b;
        margin: 100px;
    }

    ul {
        list-style-type: none;
        padding: 5px;
        overflow: hidden;
        text-align: center;
        display: flex;
        justify-content: center;
        position: sticky;
    }
    
    li {
        float: left;
        font-size: 20px;
        box-shadow: 0 0 3px #d8d52b, 0 0 5px #d8d52b;
    }
    
    li a {
        display: block;
        color: black;
        background-color: #494949;
        text-align: center;
        padding:16px;
        text-shadow: 0 0 3px #d8d52b, 0 0 5px #d8d52b;
        text-decoration: none;
        transition: 0.1s;
    }
    li a:hover{
        background-color: black;
        text-shadow: 0 0 3px #d8d52b, 0 0 5px #d8d52b;
        box-shadow: 0px 0px black;
        color: white;
        transition: 0.1s;
    }

/*#endregion*/

/*#region Startsida*/

    h1 {
        background-color: #d8d52b;
        text-shadow: 0 0 3px #d8d52b, 0 0 5px #d8d52b;
        text-align: center;
        padding: 5px;
    }
    
    h2 {
        color: white;
        text-align: center;
    }

    p {
        color: white;
    }
    article {
        align-items: center;
    }

    #lokaler {
        display: block;
    }

    #lokaler > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #gazPro {
        display: flex;
        position: relative;
        transition: 0.5s;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 25%;
        margin: 50px;
        border: 1px solid grey;
    }
    #gazPro:hover {
        height: 500px;
        width: 500px;
        margin: 0;
        filter: blur(1px);
        filter: opacity(50%);
        transition: 0.5s;
    }
    #gazProInfo {
        position: absolute;
    }

    #gazBar {
        display: flex;
        transition: 0.5s;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 400px;
        margin: 50px;
        border: 1px solid grey;
        border-radius: 2px;
        background: url(bilder/gazBar.png);
        background-size: contain;
    }
    #gazBar:hover {
        height: 500px;
        width: 500px;
        margin: 0;
        filter: blur(1px);
        filter: opacity(50%);
        transition: 0.5s;
    }

    #gazdrink {
        display: flex;
        color: black;
        transition: 0.5s;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
        margin: 50px;
        border: 1px solid grey;
        border-radius: 2px;
        background: url(bilder/gaZoline_Drink_template.png);
        background-size: contain;
    }
    #gazdrink:hover {
        height: 210px;
        width: 210px;
        margin: 0;
        filter: blur(1px);
        filter: opacity(50%);
        transition: 0.5s;
    }
    #gazdrinkFreed {
        display: flex;
        color: black;
        transition: 0.5s;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
        margin: 50px;
        border: 1px solid grey;
        border-radius: 2px;
        background: url(bilder/gaZoline_Drink_template.png);
        background-size: contain;
    }
    #gazdrinkFreed:hover {
        height: 210px;
        width: 210px;
        margin: 0;
        filter: blur(1px);
        filter: opacity(50%);
        transition: 0.5s;
    }
    #gazdrink87 {
        display: flex;
        color: black;
        transition: 0.5s;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
        margin: 50px;
        border: 1px solid grey;
        border-radius: 2px;
        background: url(bilder/gaZoline_Drink_template.png);
        background-size: contain;
    }
    #gazdrink87:hover {
        height: 210px;
        width: 210px;
        margin: 0;
        filter: blur(1px);
        filter: opacity(50%);
        transition: 0.5s;
    }
    #gazdrinkMidgrade {
        display: flex;
        color: black;
        transition: 0.5s;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
        margin: 50px;
        border: 1px solid grey;
        border-radius: 2px;
        background: url(bilder/gaZoline_Drink_template.png);
        background-size: contain;
    }
    #gazdrinkMidgrade:hover {
        height: 210px;
        width: 210px;
        margin: 0;
        filter: blur(1px);
        filter: opacity(50%);
        transition: 0.5s;
    }
    #gazdrinkPremium {
        display: flex;
        color: black;
        transition: 0.5s;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
        margin: 50px;
        border: 1px solid grey;
        border-radius: 2px;
        background: url(bilder/gaZoline_Drink_template.png);
        background-size: contain;
    }
    #gazdrinkPremium:hover {
        height: 210px;
        width: 210px;
        margin: 0;
        filter: blur(1px);
        filter: opacity(50%);
        transition: 0.5s;
    }
    

/*#endregion*/

/*#region Information */

    table {
        border: 1px solid gray;
        color: darkgray;
        margin: 0 auto;
        padding: 20px;
    }    
    thead {
        font-size: 20px;
    }
    th {
        padding: 10px;
    }
    td {
        text-align: center;
    }

    .articles {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
    }
    .article1 {
        background-color: #494949;
        width: 300px;
        height: auto;
        padding: 10px;  
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0);
    }
    .article2 {
        background-color: #494949;
        position: relative;
        padding: 10px;  
        width: 300px;
        height: auto;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0);
    }
    .article3 {
        background-color: #494949;
        position: relative;
        padding: 10px;  
        width: 300px;
        height: auto;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0);
    }
    figure {
        margin: 0 auto;
    }
    figure img {
        position: relative;
        height: 200px;
        width: 200px;
    }

    figure figcaption {
        position: absolute;
        width: 200px;
        font-size: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        margin-top: -30px;
    }

/*#endregion */

/*#region Om oss */

    #omOss {
        display: block;
        margin: 100px auto;
        justify-content: center;
        align-items: center;
        background-color: black;
        border: 1px solid gray;
        width: 50%;
        height: 500px;
    }

    #omOss p {
        color: gray;
    }

/*#endregion */

/*#region Kontaktformulär*/

    form {
        color: gray;
        border: 1px solid gray;
        display: block;
        text-align: center;
    }
    fieldset {
        border: none;
        padding: 20px;
    }

/*#endregion*/

/*#region Footer */

    footer {
        display: block;
        position: relative;
        background-color: #d8d52b;
        padding: 10px;
    }

    footer > div {
        color: black;
    }

    footer > div > a {
        text-decoration: none;
    }

    footer > div > a:hover {
        color: red;
    }

/*#endregion */
